:root {
	font-size: 150%;
	font-family: monospace;
	--text-primary: #ffffff;
	--text-secondary: #504f4f;
	--bg-primary: linear-gradient(90deg, #2C90C4 0%, #31CCB0 100%);
	--bg-secondary: linear-gradient(90deg, #31CCB0 0%, #2C90C4 100%);
	background: var(--bg-primary);
	color: var(--text-primary);
}

.bubble, .bubble-check{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: center;
}

.bubble {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	background-image: var(--bg-secondary);
	transition: 200ms ease-in-out;
}

.bubble:hover,.bubble:hover~.bubble-msg {
	transform: translate(-50%, -50%) scale(1.2, 1.2);
}

.bubble-check {
	z-index: 1;
	visibility: hidden;
	transform: translate(-50%, -50%) scale(1.5, 1.5);
}

.bubble-check:checked~.navbar-nav {
	display: block;

}

.bubble-msg {
	user-select: none;
	font-size: 1.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 200ms ease-in-out;
}

.bubble-msg2 {
	text-align: center;
	font-size: 1rem;
	transform: translate(-50%, 50%);
}

.navbar-nav {
	display: none;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: column;
	list-style: none;
	text-align: center;
}
